#new-item {
    height: 15em;
    width: 15em;
    margin: 3em;
}

#stocks {
    height: 15em;
    width: 15em;
    margin: 3em;
}

#update-stock {
    height: 15em;
    width: 15em;
    margin: 3em;
}